<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81006821781-hb6chta0n7d828g606dsb085kqamofir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81006821781-hb6chta0n7d828g606dsb085kqamofir</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>81006821781-f253gh1aci6dnm5ahntbegqe0h6k5pp9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKUUWiHb8M8MuKMWhfQskWRwT724lkJeg</string>
	<key>GCM_SENDER_ID</key>
	<string>81006821781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moodyio.moody.moody</string>
	<key>PROJECT_ID</key>
	<string>moody-84d39</string>
	<key>STORAGE_BUCKET</key>
	<string>moody-84d39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81006821781:ios:c28a5eada22979e18db69c</string>
</dict>
</plist>